@model Lab2_DB.Models.Book

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Книга</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleBook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleBook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenreBook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenreBook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailabilityStatusBook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailabilityStatusBook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorBookNavigation)
        </dt>
        <dd class="col-sm-10">
            @Model.AuthorBookNavigation?.FullNameAuthor
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FundBookNavigation)
        </dt>
        <dd class="col-sm-10">
            @Model.FundBookNavigation?.TitleFund
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherBookNavigation)
        </dt>
        <dd class="col-sm-10">
            @Model.PublisherBookNavigation?.TitlePh
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутись до списку</a>
</div>
