@model IEnumerable<Lab2_DB.Models.Request>

@{
    ViewData["Title"] = "Список замовлень";
}

<h1>Список замовлень</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрити"></button>
    </div>
}

<p>
    <a asp-action="Create">Додати новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumberReaderNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassNumberLibrarianNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDateRequest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @item.CardNumberReaderNavigation?.FullNameReader
                </td>
                <td>
                    @item.PassNumberLibrarianNavigation?.FullNameLibrarian
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
