@model IEnumerable<Lab2_DB.Models.Fund>

@{
    ViewData["Title"] = "Список фондів";
}

<h1>Список фондів</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрити"></button>
    </div>
}

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleFund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeFund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentFundNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleFund)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeFund)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNumberCopies)
                </td>
                <td>
                    @item.DepartmentFundNavigation?.TitleDepartment
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
