@model Lab2_DB.Models.Department

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Відділ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleDepartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleDepartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaderDepartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaderDepartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LibraryNavigation)
        </dt>
        <dd class="col-sm-10">
            @Model.LibraryNavigation?.TitleLibrary
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
