@model Lab2_DB.Models.Reader

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Читач</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullNameReader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullNameReader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberReader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberReader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailReader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailReader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoleReader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleReader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceStudyOrWorkReader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceStudyOrWorkReader)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
