@model IEnumerable<Lab2_DB.Models.Librarian>

@{
    ViewData["Title"] = "Список бібліотекарів";
}

<h1>Список бібліотекарів</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрити"></button>
    </div>
}

<p>
    <a asp-action="Create">Додати нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullNameLibrarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumberLibrarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailLibrarian)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullNameLibrarian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberLibrarian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailLibrarian)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
