@model Lab2_DB.Models.Author

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Автор</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullNameAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullNameAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAuthor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
